{%extends './master_template.html'%}
{% load static %}
{%block title%} FAQ {%endblock%}
{%block meta%}
<meta name='description' content='Aaradhya Fertility Center was established in 2014 by Best infertility specialist Dr.
Saritha Koratala in Visakhapatnam, AP. Since its inception, Aaradhya' />

<meta name='keywords'
content='best infertility treatment in andhra Pradesh, Best Infertility Clinics in Visakhapatnam, infertility treatment in vizag, Best infertility specialist in visakhapatnam, Best infertility treatment in vizag' />
<link rel='dns-prefetch' href='//fonts.googleapis.com' />

{%endblock%}
{%block content%}
<div class="bannerinnersec">

   <img src="{% static 'images/faqbanner.png'%}" class="img-fluid">

</div>



<div class="container-fluid">

   <div class="container-fluid topinnersec">

      <div class="row">
         <div class="col-md-6 offset-md-3">

            <div class="row well wow bounceInUp" data-wow-duration="1.5s" data-wow-delay="0.2s">




               <div class="wp-mixitup-grid faqwell skin-1 mt-3 skin1inner">
                  <ul class="wp-mixitup-grid-loop">
                     <li>
                        <div class="faqwell-faq dropdown ">
                           <div class="faqwell-faq-title header_background dropdown-link">
                              <span class="expand_arrow dropdown-link"><i class="fa fa-chevron-down"
                                    aria-hidden="true"></i></span>
                              <!-- <img alt="" src="images/collapse-arrow.png"> -->
                              <div class="sub_header dropdown-link">
                                 What are causes of Infertility?
                              </div><!-- END subheader -->
                           </div><!-- END well title -->
                           <div class="faqwell-faq-details section-faq dropdown-container" style="display: none;">
                              <p>Male 30%, Female 40% and combined male & female causes 40 %.</p>
                              <div class="faqwell-clear"></div>
                           </div><!-- END section faq -->
                        </div><!-- END faqwell -->
                     </li><!-- END 1st li in ul -->

                     <li>
                        <div class="faqwell-faq dropdown ">
                           <div class="faqwell-faq-title header_background dropdown-link">
                              <span class="expand_arrow dropdown-link"><i class="fa fa-chevron-down"
                                    aria-hidden="true"></i></span>
                              <!-- <img alt="" src="images/collapse-arrow.png"> -->
                              <div class="sub_header dropdown-link">
                                 What is the Success rate of IUI?
                              </div><!-- END subheader -->
                           </div><!-- END well title -->
                           <div class="faqwell-faq-details section-faq dropdown-container" style="display:none">
                              <p>10 % to 20 %, depending on female age factor and duration of marital life.</p>
                              <div class="faqwell-clear"></div>
                           </div><!-- END section faq -->
                        </div><!-- END faqwell -->
                     </li><!-- END 1st li in ul -->


                     <li>
                        <div class="faqwell-faq dropdown ">
                           <div class="faqwell-faq-title header_background dropdown-link">
                              <span class="expand_arrow dropdown-link"><i class="fa fa-chevron-down"
                                    aria-hidden="true"></i></span>
                              <!-- <img alt="" src="images/collapse-arrow.png"> -->
                              <div class="sub_header dropdown-link">
                                 What is the Success Rate of IVF?
                              </div><!-- END subheader -->
                           </div><!-- END well title -->
                           <div class="faqwell-faq-details section-faq dropdown-container" style="display:none">
                              <p>30% to 60%, depending on female age and ovarian reserve and Male semen sample.</p>
                              <div class="faqwell-clear"></div>
                           </div><!-- END section faq -->
                        </div><!-- END faqwell -->
                     </li><!-- END 1st li in ul -->


                     <li>
                        <div class="faqwell-faq dropdown ">
                           <div class="faqwell-faq-title header_background dropdown-link">
                              <span class="expand_arrow dropdown-link"><i class="fa fa-chevron-down"
                                    aria-hidden="true"></i></span>
                              <!-- <img alt="" src="images/collapse-arrow.png"> -->
                              <div class="sub_header dropdown-link">
                                 When IUI is indicated?
                              </div><!-- END subheader -->
                           </div><!-- END well title -->
                           <div class="faqwell-faq-details section-faq dropdown-container" style="display:none">
                              <p>Male factors – with low sperm count , some cases like</p>
                              <ul>
                                 <li>Sexual Dysfunction</li>
                                 <li>Un explained Cause</li>

                              </ul>
                              <p>Female factors – Endometriosis</p>
                              <div class="faqwell-clear"></div>
                           </div><!-- END section faq -->
                        </div><!-- END faqwell -->
                     </li><!-- END 1st li in ul -->



                     <li>
                        <div class="faqwell-faq dropdown ">
                           <div class="faqwell-faq-title header_background dropdown-link">
                              <span class="expand_arrow dropdown-link"><i class="fa fa-chevron-down"
                                    aria-hidden="true"></i></span>
                              <!-- <img alt="" src="images/collapse-arrow.png"> -->
                              <div class="sub_header dropdown-link">
                                 When IVF is indicated?
                              </div><!-- END subheader -->
                           </div><!-- END well title -->
                           <div class="faqwell-faq-details section-faq dropdown-container" style="display:none">
                              <p>Male Factors like Very low count, less than 5 million per ml<br>Female factors –
                                 Repeated IUI failures and some cases like,</p>
                              <ul>
                                 <li>Severe Endometriosis</li>
                                 <li> Blocked Fallopian Tubes</li>
                                 <li>Un explained infertility</li>
                              </ul>
                              <div class="faqwell-clear"></div>
                           </div><!-- END section faq -->
                        </div><!-- END faqwell -->
                     </li><!-- END 1st li in ul -->



                     <li>
                        <div class="faqwell-faq dropdown ">
                           <div class="faqwell-faq-title header_background dropdown-link">
                              <span class="expand_arrow dropdown-link"><i class="fa fa-chevron-down"
                                    aria-hidden="true"></i></span>
                              <!-- <img alt="" src="images/collapse-arrow.png"> -->
                              <div class="sub_header dropdown-link">
                                 I am suffering with PCOD, will I not conceive at all?
                              </div><!-- END subheader -->
                           </div><!-- END well title -->
                           <div class="faqwell-faq-details section-faq dropdown-container" style="display:none">
                              <p>80% —to 90 % people conceive with PCOD.</p>
                              <div class="faqwell-clear"></div>
                           </div><!-- END section faq -->
                        </div><!-- END faqwell -->
                     </li><!-- END 1st li in ul -->





                     <li>
                        <div class="faqwell-faq dropdown ">
                           <div class="faqwell-faq-title header_background dropdown-link">
                              <span class="expand_arrow dropdown-link"><i class="fa fa-chevron-down"
                                    aria-hidden="true"></i></span>
                              <!-- <img alt="" src="images/collapse-arrow.png"> -->
                              <div class="sub_header dropdown-link">
                                 Do I need to undergo HSG (HYSTEROSALPINGOGRAM)?
                              </div><!-- END subheader -->
                           </div><!-- END well title -->
                           <div class="faqwell-faq-details section-faq dropdown-container" style="display:none">
                              <p>Not a must, depending on Clinical Situation.</p>
                              <div class="faqwell-clear"></div>
                           </div><!-- END section faq -->
                        </div><!-- END faqwell -->
                     </li><!-- END 1st li in ul -->




                     <li>
                        <div class="faqwell-faq dropdown ">
                           <div class="faqwell-faq-title header_background dropdown-link">
                              <span class="expand_arrow dropdown-link"><i class="fa fa-chevron-down"
                                    aria-hidden="true"></i></span>
                              <!-- <img alt="" src="images/collapse-arrow.png"> -->
                              <div class="sub_header dropdown-link">
                                 My husband has low sperm count, will I not conceive at all ?
                              </div><!-- END subheader -->
                           </div><!-- END well title -->
                           <div class="faqwell-faq-details section-faq dropdown-container" style="display:none">
                              <p>Many treatments are available for conception.</p>
                              <div class="faqwell-clear"></div>
                           </div><!-- END section faq -->
                        </div><!-- END faqwell -->
                     </li><!-- END 1st li in ul -->


                     <li>
                        <div class="faqwell-faq dropdown ">
                           <div class="faqwell-faq-title header_background dropdown-link">
                              <span class="expand_arrow dropdown-link"><i class="fa fa-chevron-down"
                                    aria-hidden="true"></i></span>
                              <!-- <img alt="" src="images/collapse-arrow.png"> -->
                              <div class="sub_header dropdown-link">
                                 Is IUI or IVF are must in Fertility Centre?
                              </div><!-- END subheader -->
                           </div><!-- END well title -->
                           <div class="faqwell-faq-details section-faq dropdown-container" style="display:none">
                              <p>No, many couples conceive with slight help.</p>
                              <div class="faqwell-clear"></div>
                           </div><!-- END section faq -->
                        </div><!-- END faqwell -->
                     </li><!-- END 1st li in ul -->


                     <li>
                        <div class="faqwell-faq dropdown ">
                           <div class="faqwell-faq-title header_background dropdown-link">
                              <span class="expand_arrow dropdown-link"><i class="fa fa-chevron-down"
                                    aria-hidden="true"></i></span>
                              <!-- <img alt="" src="images/collapse-arrow.png"> -->
                              <div class="sub_header dropdown-link">
                                 Are there any side effects of this treatment?
                              </div><!-- END subheader -->
                           </div><!-- END well title -->
                           <div class="faqwell-faq-details section-faq dropdown-container" style="display:none">
                              <p>Multiple Pregnancy (more than one baby).</p>
                              <div class="faqwell-clear"></div>
                           </div><!-- END section faq -->
                        </div><!-- END faqwell -->
                     </li><!-- END 1st li in ul -->



                     <li>
                        <div class="faqwell-faq dropdown ">
                           <div class="faqwell-faq-title header_background dropdown-link">
                              <span class="expand_arrow dropdown-link"><i class="fa fa-chevron-down"
                                    aria-hidden="true"></i></span>
                              <!-- <img alt="" src="images/collapse-arrow.png"> -->
                              <div class="sub_header dropdown-link">
                                 Are the Hormonal treatments harmful for me or for our child?
                              </div><!-- END subheader -->
                           </div><!-- END well title -->
                           <div class="faqwell-faq-details section-faq dropdown-container" style="display:none">
                              <p>Not harmful. Proved in multiple studies.</p>
                              <div class="faqwell-clear"></div>
                           </div><!-- END section faq -->
                        </div><!-- END faqwell -->
                     </li><!-- END 1st li in ul -->



                     <li>
                        <div class="faqwell-faq dropdown ">
                           <div class="faqwell-faq-title header_background dropdown-link">
                              <span class="expand_arrow dropdown-link"><i class="fa fa-chevron-down"
                                    aria-hidden="true"></i></span>
                              <!-- <img alt="" src="images/collapse-arrow.png"> -->
                              <div class="sub_header dropdown-link">
                                 Are the Hormonal treatments harmful for me or for our child?
                              </div><!-- END subheader -->
                           </div><!-- END well title -->
                           <div class="faqwell-faq-details section-faq dropdown-container" style="display:none">
                              <p>How much time it will take for one IVF cycle ?</p>
                              <ul>
                                 <li>Daily injections – 10 Days</li>
                                 <li>Egg collection — 1 Day</li>
                                 <li>Embryo transfer– 3 days later</li>
                                 <li>No need to stay in hospital.</li>
                              </ul>
                              <div class="faqwell-clear"></div>
                           </div><!-- END section faq -->
                        </div><!-- END faqwell -->
                     </li><!-- END 1st li in ul -->


                     <li>
                        <div class="faqwell-faq dropdown ">
                           <div class="faqwell-faq-title header_background dropdown-link">
                              <span class="expand_arrow dropdown-link"><i class="fa fa-chevron-down"
                                    aria-hidden="true"></i></span>
                              <!-- <img alt="" src="images/collapse-arrow.png"> -->
                              <div class="sub_header dropdown-link">
                                 How long we can freeze our Embryos?
                              </div><!-- END subheader -->
                           </div><!-- END well title -->
                           <div class="faqwell-faq-details section-faq dropdown-container" style="display:none">
                              <p>According to ICMR- [INDIAN COUNCIL OF MEDICAL RESEARCH] we can freeze the embryos
                                 for 5 years.</p>
                              <div class="faqwell-clear"></div>
                           </div><!-- END section faq -->
                        </div><!-- END faqwell -->
                     </li><!-- END 1st li in ul -->




                  </ul>
                  <br></br>
               </div>
            </div>

         </div>

      </div>
   </div>

</div> 
{%endblock%}