{% extends './master_template_crm.html' %}
{%load static%}
{% block title%}
Admin
{%endblock%}
{% block content%}
<p class="topHeading" style="margin-bottom: 20px;">Doctors/Add Doctor</p>
<form action="/addDoctor" method="post">{% csrf_token %}
    <div class="rightInnerDiv m-auto" style="width: 100%;">
        <p class="subHeadingRightInnerDiv">Add a Doctor</p>
        <div class="row m-auto">
            <div style="width: 15%;">
                <label>DOCTOR ID</label>
            </div>
            <div style="width:82%">
                <span>
                    <input type="number" name="doc_id" id="doc_id" value="{{doctorDetails.doctor_id}}" disabled required>
                </span>
            </div>
        </div>
        <div class="row m-auto">
            <div style="width: 15%;">
                <label>DOCTOR NAME</label>
            </div>
            <div style="width:82%">
                <input style="width: 100%;" name="name" type="text" value="{{doctorDetails.doctor_name}}" required>
            </div>
        </div>
        <div class="row m-auto">
            <div style="width: 15%;">
                <label>DEPARTMENT</label>
            </div>
            <div style="width:82%">
                <select style="width: 100%;" id="department" name="department" required>
                    {% if doctorDetails.department %}
                    <option value="Pediatrician">Pediatrician</option>
                    <option value="Cardiologist">Cardiologist</option>
                </select>
            </div>
        </div>
        <div class="row m-auto">
            <div style="width: 15%;">
                <label>HOSPITAL</label>
            </div>
            <div style="width:82%">
                <input style="width: 100%;" name="hospital" type="text" value="{{doctorDetails.hospital}}" required>
            </div>
        </div>
        <div class="row m-auto">
            <div style="width: 18%;">
                <label>YEARS OF EXPERIENCE</label>
            </div>
            <div style="width:79%">
                <input style="width: 100%;" type="number" name="yoe" required value="{{doctorDetails.years_of_exp}}">
            </div>
        </div>
        <div class="row m-auto">
            <div style="width:15%">
                <label for="">DOB</label>
            </div>
            <div style="width:30%">
                <input onchange="calculateAge()" style="width: 100%;" value="{{doctorDetails.dob}}" type="date" required id="dob" name="dob">
            </div>
            <div style="width:7%">
                <label for=""> AGE</label>
            </div>
            <div style="width:13%">
                <span id="ageSpan"></span>
                <input hidden type="number" id="age" name="age">
            </div>
        </div>
        <div class="row m-auto">
            <div style="width:15%">
                <label for="">GENDER</label>
            </div>
            <div style="width:30%">
                <select style="width: 100%;" id="gender" name="gender" required>
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                    <option value="Others">Others</option>
                </select>
            </div>
        </div>

        <div class="row m-auto">
            <div style="width: 15%;">
                <label>ADDRESS</label>
            </div>
            <div style="width:82%">
                <input style="width: 100%;" name="address" type="text" value="{{doctorDetails.address}}">
            </div>
        </div>
        <div class="row m-auto">
            <div style="width:15%">
                <label for="">COUNTRY</label>
            </div>
            <div style="width:15%">
                <select style="width: 100%;" name="country" id="department" required>
                    <option value="India">India</option>
                    <option value="">USA</option>
                    <option value="">UK</option>
                </select>
            </div>
            <div style="width:7%">
                <label for=""> STATE</label>
            </div>
            <div style="width:13%">
                <select style="width: 100%;" id="department" name="state" required>
                    <option value="AP">AP</option>
                </select>
            </div>
            <div style="width:8%">
                <label for=""> DISTRICT</label>
            </div>
            <div style="width:13%">
                <input style="width: 100%;" type="text" value="{{doctorDetails.district}}" name="district">
            </div>
            <div style="width:12%">
                <label for=""> CITY/VILLAGE</label>
            </div>
            <div style="width:14%">
                <input style="width: 100%;" type="text" value="{{doctorDetails.city}}" name="city">
            </div>
        </div>
        <div class="row m-auto">
            <div style="width: 15%;">
                <label>PINCODE</label>
            </div>
            <div style="width:15%">
                <input style="width: 100%;" type="text" value="{{doctorDetails.pincode}}" name="pincode">
            </div>
        </div>

        <div class="row m-auto">
            <div style="width: 15%;">
                <label>MOBILE NUMBER</label>
            </div>
            <div style="width:82%">
                <input style="width: 100%;" type="text" value="{{doctorDetails.mobile}}" name="mobile">
            </div>
        </div>
        <div class="row m-auto">
            <div style="width: 15%;">
                <label>EMAIL</label>
            </div>
            <div style="width:82%">
                <input style="width: 100%;" type="email" value="{{doctorDetails.email}}" name="email">
            </div>
        </div>


    </div>
    <br>
    <button type="submit" class="btn greenBtn" style="float: right;">Update</button>
    <p style="clear: both;"></p>
</form>
<script>
    function calculateAge() {
        var dob = new Date(document.getElementById('dob').value)
        var diff_ms = Date.now() - dob.getTime();
        var age_dt = new Date(diff_ms);
        var age = Math.abs(age_dt.getUTCFullYear() - 1970);
        if (age > 18) {
            document.getElementById('ageSpan').innerHTML = age
            document.getElementById('age').value = age
        }
        else {
            document.getElementById('dob').value = ''
            alert('Invalid DOB!')
        }
    }
</script>
{%endblock%}