{% extends './master_template_crm.html' %}
{%load static%}
{% block title%}
Admin
{%endblock%}
{% block content%}
<p class="topHeading" style="margin-bottom: 20px;">Doctors/Add Doctor</p>
<div class="rightInnerDiv m-auto" style="width: 100%;">
    <p class="subHeadingRightInnerDiv">Add a Doctor</p>
    <div class="row m-auto">
        <div style="width: 15%;">
            <label>DOCTOR ID</label>
        </div>
        <div style="width:82%">
            <span>0011</span>
        </div>
    </div>
    <div class="row m-auto">
        <div style="width: 15%;">
            <label>DOCTOR NAME</label>
        </div>
        <div style="width:82%">
            <span>Dr. Prasad</span>
        </div>
    </div>
    <div class="row m-auto">
        <div style="width: 15%;">
            <label>DEPARTMENT</label>
        </div>
        <div style="width:82%">
            <span>Pediatrician</span>
        </div>
    </div>
    <div class="row m-auto">
        <div style="width: 15%;">
            <label>HOSPITAL</label>
        </div>
        <div style="width:82%">
            <span>Apollo</span>
        </div>
    </div>
    <div class="row m-auto">
        <div style="width: 18%;">
            <label>YEARS OF EXPERIENCE</label>
        </div>
        <div style="width:79%">
            <span>16</span>
        </div>
    </div>
    <div class="row m-auto">
        <div style="width:15%">
            <label for="">DOB</label>
        </div>
        <div style="width:30%">
            <span>26 Jan 1991</span>
        </div>
        <div style="width:7%">
            <label for=""> AGE</label>
        </div>
        <div style="width:13%">
            <span>31</span>
        </div>
    </div>
    <div class="row m-auto">
        <div style="width:15%">
            <label for="">GENDER</label>
        </div>
        <div style="width:30%">
            <span>Male</span>
        </div>
    </div>

    <div class="row m-auto">
        <div style="width: 15%;">
            <label>ADDRESS</label>
        </div>
        <div style="width:82%">
            <span>Type in the Address</span>
        </div>
    </div>
    <div class="row m-auto">
        <div style="width:15%">
            <label for="">COUNTRY</label>
        </div>
        <div style="width:15%">
            <span>India</span>
        </div>
        <div style="width:7%">
            <label for=""> STATE</label>
        </div>
        <div style="width:13%">
            <span></span>
        </div>
        <div style="width:8%">
            <label for=""> DISTRICT</label>
        </div>
        <div style="width:13%">
            <span></span>
        </div>
        <div style="width:12%">
            <label for=""> CITY/VILLAGE</label>
        </div>
        <div style="width:14%">
            <span></span>
        </div>
    </div>
    <div class="row m-auto">
        <div style="width: 15%;">
            <label>PINCODE</label>
        </div>
        <div style="width:15%">
            <span>500047</span>
        </div>
    </div>

    <div class="row m-auto">
        <div style="width: 15%;">
            <label>MOBILE NUMBER</label>
        </div>
        <div style="width:82%">
            <span>"+91-9848032919"</span>
        </div>
    </div>
    <div class="row m-auto">
        <div style="width: 15%;">
            <label>EMAIL</label>
        </div>
        <div style="width:82%">
            <span>prasad@gmail.com</span>
        </div>
    </div>


</div>
<br>
<div style="float: right;">
    <button class="btn blackBtn" style="margin-right: 10px;">Edit</button>
    <button class="btn greenBtn">Close</button>    
</div>
<p style="clear: both;"></p>

{%endblock%}    